<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      
       <editor
             class="com.laex.cg2d.screeneditor.ScreenEditor"
             contributorClass="com.laex.cg2d.screeneditor.contributions.ScreenEditorContributor"
             default="true"
             extensions="cgs"
             icon="main.png"
             id="com.laex.cg2d.leveleditor"
             name="CGC Screen Editor">
        </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.laex.cg2d.screeneditor.prefs.SharedPreferencePage"
            id="com.laex.cg2d.shared.PreferencePage"
            name="Casual Games">
      </page>
   </extension>   
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.laex.cg2d.shared.objectContribution1"
            nameFilter="*cg*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="com.laex.cg2d.shared.menu1"
               label="Box2D Editor">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="com.laex.cg2d.screeneditor.actions.ConvertToJsonAction"
               id="com.laex.cg2d.shared.action1"
               label="To JSON"
               menubarPath="com.laex.cg2d.shared.menu1/group1"
               style="push">
         </action>
      </objectContribution>
   </extension>   


   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.laex.cg2d.screeneditor.views.TexturesViewPart"
            id="com.laex.cg2d.screeneditor.TexturesView"
            name="Textures"
            restorable="true">
      </view>
       <view
            allowMultiple="false"
            class="com.laex.cg2d.screeneditor.views.LayersViewPart"
            id="com.laex.cg2d.screeneditor.views.LayersViewPart"
            name="Layers">
      </view>     
      <view
            allowMultiple="false"
            class="com.laex.cg2d.screeneditor.views.LayerOutlineViewPart"
            id="com.laex.cg2d.screeneditor.views.LayerOutlineViewPart"
            name="Layers2">
      </view>          
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="com.laex.cg2d.screeneditor.properties.ScreenPropertyPage"
            id="com.laex.cg2d.leveleditor.properties.Box2DPropertyPage"
            name="CG2D Screen"
            nameFilter="*.cgs"
            objectClass="org.eclipse.core.resources.IFile">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.laex.cg2d.core.wizards.CGWizard"
            class="com.laex.cg2d.screeneditor.wizards.NewScreenWizard"
            hasPages="true"
            icon="main.png"
            id="com.laex.cg2d.screeneditor.wizards.NewScreenWizard"
            name="Screen"
            project="false">
      </wizard>
      <wizard
            category="com.laex.cg2d.core.wizards.CGWizard"
            class="com.laex.cg2d.screeneditor.wizards.NewProjectWizard"
            hasPages="true"
            icon="main.png"
            id="com.laex.cg2d.screeneditor.wizards.NewCGProjectWizard"
            name="Box2D Editor Project"
            project="true">
      </wizard>
      <wizard
            category="com.laex.cg2d.core.wizards.CGWizard"
            class="com.laex.cg2d.screeneditor.wizards.NewScriptWizard"
            hasPages="true"
            icon="main.png"
            id="com.laex.cg2d.screeneditor.wizard1"
            name="Script"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
