<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"></button>
      <a class="navbar-brand" href="#">Sloot Editor</a>
    </div>
  </div>
</div>

<div class="container" style="position:relative">
  <div class="row">
    <a href="https://github.com/hemantasapkota/sloot-editor">
      <img style="position: fixed; top: 0; right: 0; border: 0;z-index:9999" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
  </div>
</div>