<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.laex.cg2d.entityeditor.EntityFormEditor"
            default="true"
            extensions="cge"
            icon="main.png"
            id="com.laex.cg3d.entityeditor.EntityEditor"
            name="%Plugin.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.laex.cg2d.core.wizards.CGWizard"
            class="com.laex.cg2d.entityeditor.wizards.NewEntityWizard"
            hasPages="true"
            icon="main.png"
            id="com.laex.cg2d.entityeditor.wizards.NewEntityWizard"
            name="%Plugin.contentType"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.laex.cg2d.entityeditor.preferences.EntityPreferencesPage"
            id="com.laex.cg2d.entityeditor.preferences.EntityPreferencesPage"
            name="%Plugin.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.laex.cg2d.entityeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.laex.cg2d.entityeditor.moveEntityContribution"
            nameFilter="*cge*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.laex.cg2d.entityeditor.action.MoveEntityAction"
               icon="icons/moveArrow.png"
               id="com.laex.cg2d.entityeditor.action1"
               label="Move Entity"
               menubarPath="com.laex.cg2d.navigatorContextMenu/navigationContextMenuGroup1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.laex.cg2d.entityeditor.views.EntitiesView"
            id="com.laex.cg2d.entityeditor.views.Entities"
            name="Entities">
      </view>
   </extension>

</plugin>
