<tabset>
  <tab heading="Setting Up">
    <div style="margin-top:10px;">
      <p>
        Sloot Editor requires external tools to render entities and screens. You'll need to configure these runners via. the global preferences
        The <span class="label label-info">ext-tools.zip</span> in that <a href="https://github.com/hemantasapkota/sloot-editor/releases">Download</a> section contains these runers.
        Currently, there's <span class="label label-info">cgEntityPreview.jar</span> and <span class="label label-info">cgRunner.jar</span>
      </p>
      <img src="images/pref-entity.png" class="img-responsive center-block"></img>
      <img src="images/pref-screen.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Create new Project">
    <div style="margin-top:10px;">
      <img src="images/project-new.png" class="img-responsive center-block"></img>
      <img src="images/project-new-name.png" class="img-responsive center-block"></img>
      <p>Each Sloot Project has the following structure</p>
      <img src="images/project-new-structure.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Screens">
    <div style="margin-top:10px;">
      <img src="images/screen-new.png" class="img-responsive center-block"></img>
      <img src="images/screen-new-name.png" class="img-responsive center-block"></img>
      <img src="images/screen-new-edit.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Rendering Screens">
    <div style="margin-top:10px;">
      <img src="images/screen-edit.png" class="img-responsive center-block"></img>
      <img src="images/screen-edit-property.png" class="img-responsive center-block"></img>
      <img src="images/screen-edit-render.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Screen Properties">
    <div style="margin-top:10px;">
      <img src="images/screen-properties.png" class="img-responsive center-block"></img>
      <img src="images/screen-properties-1.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Entities">
    <div style="margin-top:10px;">
      <p>We'll need some sprites to work with entites. Download a texture pack <a href="/images/sloot-texture-pack.zip">here</a></p>
      <img src="images/entity_001.png" class="img-responsive center-block"></img>
      <img src="images/entity_002.png" class="img-responsive center-block"></img>
      <img src="images/entity_003.png" class="img-responsive center-block"></img>
      <img src="images/entity_004.png" class="img-responsive center-block"></img>
      <img src="images/entity_005.png" class="img-responsive center-block"></img>
      <img src="images/entity_006.png" class="img-responsive center-block"></img>
      <img src="images/entity_007.png" class="img-responsive center-block"></img>
      <img src="images/entity_008.png" class="img-responsive center-block"></img>
      <img src="images/entity_009.png" class="img-responsive center-block"></img>
      <img src="images/entity_010.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Entities collision Shapes">
    <div style="margin-top:10px;">
      <img src="images/entity_col_001.png" class="img-responsive center-block"></img>
      <img src="images/entity_col_002.png" class="img-responsive center-block"></img>
      <img src="images/entity_col_003.png" class="img-responsive center-block"></img>
      <img src="images/entity_col_004.png" class="img-responsive center-block"></img>
      <img src="images/entity_col_005.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Backgrounds">
    <div style="margin-top:10px;">
      <img src="images/background-drag.png" class="img-responsive center-block"></img>
      <img src="images/background-edit.png" class="img-responsive center-block"></img>
      <img src="images/background-render.png" class="img-responsive center-block"></img>
    </div>
  </tab>

</tabset>
