<tabset>
  <tab heading="Main Interface">
    <div style="margin-top:10px;">
      <img src="images/quickguide-img2.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Create new Project">
    <div style="margin-top:10px;">
      <img src="images/project-new.png" class="img-responsive center-block"></img>
      <img src="images/project-new-name.png" class="img-responsive center-block"></img>
      <img src="images/project-new-structure.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Screens">
    <div style="margin-top:10px;">
      <img src="images/screen-new.png" class="img-responsive center-block"></img>
      <img src="images/screen-new-name.png" class="img-responsive center-block"></img>
      <img src="images/screen-new-edit.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Rendering Screens">
    <div style="margin-top:10px;">
      <img src="images/screen-edit.png" class="img-responsive center-block"></img>
      <img src="images/screen-edit-property.png" class="img-responsive center-block"></img>
      <img src="images/screen-edit-render.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Entities">
    <div style="margin-top:10px;">
      <p>We'll need some sprites to work with entites. Download a texture pack <a href="/images/sloot-texture-pack.zip">here</a></p>
      <img src="images/entity/001.png" class="img-responsive center-block"></img>
      <img src="images/entity/002.png" class="img-responsive center-block"></img>
      <img src="images/entity/003.png" class="img-responsive center-block"></img>
      <img src="images/entity/004.png" class="img-responsive center-block"></img>
      <img src="images/entity/005.png" class="img-responsive center-block"></img>
      <img src="images/entity/006.png" class="img-responsive center-block"></img>
      <img src="images/entity/007.png" class="img-responsive center-block"></img>
      <img src="images/entity/008.png" class="img-responsive center-block"></img>
      <img src="images/entity/009.png" class="img-responsive center-block"></img>
      <img src="images/entity/010.png" class="img-responsive center-block"></img>
    </div>
  </tab>

  <tab heading="Entities collision Shapes">
    <div style="margin-top:10px;">
    </div>
  </tab>


  <tab heading="Backgrounds">
  </tab>

</tabset>
